/* header section */
* {
    box-sizing: border-box;
  }


body {
    font-family: Arial;
    margin: 0;
  }
header{
    position: fixed;
     top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:rgb(126, 77, 126);
    color: #fff;
    padding: 2rem;
    display: flex; 
     align-items: center;
    justify-content: space-between; 
}

/* nav bar */
header .logo{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
header .nav-bar a{
    font-size: 1.5rem;
    color: #f4f0f0;
    margin: 0 2rem;
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: solid;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

/* content */
section{
    padding: 50px;
    text-align: center;
    font-size: bolder;
}
.feature{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
  text-align: center;
  background: #1abc9c;
  color: rgb(39, 36, 36);
  margin-top: 100px;
  }

td {
    background-color: #696666;
    border: 0px  #0088dd;
    padding: 30px 50px 50px 50px;
margin-bottom: 100px;}
    table.one {
        margin-top:30px;
        border-spacing: 90px 20px;
    empty-cells: show;}
    table.two {

        border-spacing:350px 20px;}



.about{
background-color: rgb(174, 171, 168);
color: black;
padding: 90px 30px 100px 40px;
margin: 50px;
}